@media(max-width:1024px){
     .right{
         padding: 15px;
     }
 }
 @media(max-width:880px){
     .container{
         flex-direction: column;
         align-items: center;
     }
 }
 @media(max-width:600px){
  .left,.right{
     width: 100%;
  }
  .left{
     height: 100vh;
  }
  @media(max-width:430px){
    .right__item{
         flex-direction: column;
         align-items: center;
         margin-bottom: 30px;
    }
    .image{
     width: 100%;
    }
    .info{
     padding: 16px 0 0 0;
    }
 }
 }